<div class="page-home cover-image"></div>
<div class="page page-home">

  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="page-content">
        <div class="mplayer-text mplayer-text-intro">{{ mplayer.intro }}</div>
        <div class="mplayer-title">{{ mplayer.title }}</div>
        <div class="mplayer-text">{{ mplayer.acknowledgments_intro }}</div>
        <div ng-repeat="acknowledgment in mplayer.acknowledgments" class="mplayer-acknowledgment">{{ acknowledgment }}</div>
      </div>
    </div>
  </div>  <!-- pure-g -->

  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="logo-container">
        <img id="home-logo" src="img/homelogo35.png">
      </div>
    </div>
  </div>  <!-- pure-g -->

</div>