<div ng-controller="headerCtrl" class="container pure-g">

  <!-- svg social icons (not youtube) -->
  <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <symbol id="icon-mplayer-pause" viewBox="0 0 16 16">
        <title>music player</title>
        <path d="m8,0c-4.418,0-8,3.582-8,8s3.582,8 8,8 8-3.582 8-8-3.582-8-8-8zm-1,12h-2v-4-4h2v8zm4,0h-2v-4-4h2v8z" />
      </symbol>

    </defs>
  </svg>

  <!-- music player -->
  <div class="pure-u-1-3">
    <div class="music-player-container">
      
      <div id="icon-mplayer-button-id" mplay-button>
        <img src="img/icons/player_icon.png" class="icon-mplayer" id="icon-mplayer-id">
        <svg class="icon-mplayer" style="display: none;" id="icon-mplayer-pause-id">
          <use xlink:href="#icon-mplayer-pause"></use>
        </svg>
      </div>

      <iframe id="sc-widget" width="0px" height="0px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2F"></iframe>
    </div>
  </div>

  <!-- navigation -->
  <div class="pure-u-2-3">
    <nav role="navigation">
      <div class="nav-main">
        <ul class="" id="menu-items">

          <div class="main-nav-group"> <!-- navbar inner grid -->
            <div class="top-nav-group"> <!-- group youtube and facebook icons together -->
              <li><a href="{{ socialLinks.youtube }}">
                <img src="img/icons/youtube_icon.png" class="icons icons-yt">
              </a></li>

              <li><a href="{{ socialLinks.facebook }}"><img src="img/icons/facebook_icon.png" class="icons icons-fb"></a></li>
            </div> <!-- youtube / facebook group -->

            <div class="bot-nav-group"> <!-- group twitter, instagram and the dropdown icons together -->
              <li><a href="{{ socialLinks.twitter }}"><img src="img/icons/twitter_icon.png" class="icons icons-tw"></a></li>

              <li><a href="{{ socialLinks.instagram }}"><img src="img/icons/instagram_icon.png" class="icons icons-ig"></a></li>

              <!-- dropdown -->
              <li class="dropdown">
                <a href="#">
                  <img src="img/icons/dropdown_icon.png" class="icons icons-dropdown">
                </a>
                <!-- dropdown menu -->
                <ul class="dropdown-menu">
                  <span class="diamond-icon"></span>
                  <li ng-repeat="link in navLinks"><a href="#/{{ link | lowercase }}">{{ link }}</a></li>
                </ul>
              </li> <!-- dropdown -->
            </div> <!-- twitter, instagram and the dropdown icon group -->

          </div> <!-- navbar inner grid -->

        </ul> <!-- menu items -->
      </div>
    </nav>
  </div>
</div>