<div ng-controller="headerCtrl" class="container"> <!-- pure-g -->

  <!-- music player -->
    <div class="music-player-container">
      
      <div id="icon-mplayer-button-id" mplay-button>
        <!-- Play Button -->
        <img ng-src="img/icons{{ copyright.hidden ? '' : '/darker' }}/play_icon.png" class="icon-mplayer" id="icon-mplayer-id">
        <!-- Pause Button -->
        <img ng-src="img/icons{{ copyright.hidden ? '' : '/darker' }}/pause_icon.png" style="display: none;" class="icon-mplayer" id="icon-mplayer-pause-id">
      </div>

      <iframe id="sc-widget" width="0px" height="0px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2F"></iframe>
    </div>
    <div ng-hide="copyright.hidden" class="music-player-information-container">
      <div class="title">
        <img src="img/homelogo25_esm.png">
      </div>
      <div class="song">
        INFINITY {{ mplayer.nowPlaying }}
      </div>
    </div>

  <!-- navigation -->
    <nav role="navigation">
      <div class="nav-main">
        <ul class="" id="menu-items">

          <div class="main-nav-group"> <!-- navbar inner grid -->
            <div class="top-nav-group"> <!-- group youtube and facebook icons together -->

              <li><a href="{{ socialLinks.itunes }}">
                <img ng-src="img/icons{{ copyright.hidden ? '' : '/darker' }}/itunes_icon.png" class="icons icons-it">
              </a></li>

              <li><a href="{{ socialLinks.youtube }}">
                <img ng-src="img/icons{{ copyright.hidden ? '' : '/darker' }}/youtube_icon.png" class="icons icons-yt">
              </a></li>

              <li><a href="{{ socialLinks.facebook }}">
                <img ng-src="img/icons{{ copyright.hidden ? '' : '/darker' }}/facebook_icon.png" class="icons icons-fb">
              </a></li>

<!-- disable two group stacking
            </div> <!-- youtube / facebook group -->
<!--            <div class="bot-nav-group"> <!-- group twitter, instagram and the dropdown icons together -->

              <li><a href="{{ socialLinks.twitter }}">
                <img ng-src="img/icons{{ copyright.hidden ? '' : '/darker' }}/twitter_icon.png" class="icons icons-tw">
              </a></li>

              <li><a href="{{ socialLinks.instagram }}">
                <img ng-src="img/icons{{ copyright.hidden ? '' : '/darker' }}/instagram_icon.png" class="icons icons-ig">
              </a></li>

              <!-- dropdown -->
              <li class="dropdown">
                <a href="#">
                  <img ng-src="img/icons{{ copyright.hidden ? '' : '/darker' }}/dropdown_icon.png" class="icons icons-dropdown">
                </a>
                <!-- dropdown menu -->
                <ul class="dropdown-menu">
                  <span class="diamond-icon"></span>
                  <li ng-repeat="link in navLinks"><a href="#/{{ link.link | lowercase }}">{{ link.text }}</a></li>
                </ul>
              </li> <!-- dropdown -->
            </div> <!-- twitter, instagram and the dropdown icon group -->

          </div> <!-- navbar inner grid -->

        </ul> <!-- menu items -->
      </div>
    </nav>
</div>