<div class="page page-videos" scroll id="videosPage">

  <div class="page-content">

    <div class="video-content" ng-repeat="video in video.list">

      <youtube-video class="video-frame" video-id="video.id"></youtube-video>

      <!--
      <video class="video-frame" width="560" height="315" frameborder="0" autoplay>
        <source type="video/youtube" SRC="http://www.youtube.com/watch?v=nOEw9iiopwI" />
      </video> 
      -->
    </div>

  </div>

</div>

<div class="page-videos cover-image"></div>
