/** Less mixins
---------------------*/
/** Less
---------------------*/
/** Fonts
---------------------*/
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.ttf');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.ttf');
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.ttf');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.ttf');
}
@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/Gotham-Thin.ttf');
}
@font-face {
  font-family: 'Gotham-XLight';
  src: url('../fonts/Gotham-XLight.ttf');
}
@font-face {
  font-family: 'Arial Regular';
  src: url('../fonts/ARIAL.TTF');
}
@font-face {
  font-family: 'Arial Bold';
  src: url('../fonts/ARIALBD.TTF');
}
/** Custom
---------------------*/
body {
  height: 0px;
  width: 100%;
}
html,
body {
  margin: 0;
  font-family: 'Arial Regular';
}
div#preload {
  display: none;
}
a {
  text-decoration: none;
}
/** Mplayer, music player
---------------------*/
#sc-widget {
  display: none;
}
.music-player p {
  display: block;
}
.mplayer-text-intro {
  padding-top: 10px;
}
.mplayer-text {
  font-family: 'Gotham-Book';
  font-size: 1.1em;
  color: #48494a;
}
.mplayer-title {
  font-family: 'Gotham-Book';
  font-size: 54px;
  color: #ffffff;
  text-shadow: 0px 0px 25px rgba(166, 198, 238, 0.75), 0px 0px 25px rgba(166, 198, 238, 0.75);
}
.mplayer-acknowledgment {
  line-height: 100%;
  font-family: 'Gotham-Light';
  font-size: 1.6em;
  color: #ffffff;
  text-shadow: 0px 0px 25px rgba(166, 198, 238, 0.75), 0px 0px 25px rgba(166, 198, 238, 0.75);
}
/** Pages
---------------------*/
.page-content {
  padding-left: 48px;
  padding-right: 48px;
}
.logo-container {
  position: fixed;
  bottom: 10px;
  width: 100%;
}
.cover-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  margin: 0;
  padding: 0;
}
.page-home.cover-image {
  background: url('../img/main-bg-titled.jpg') no-repeat center top;
}
.page-about.cover-image {
  background: url('../img/about-bg.jpg') no-repeat center top;
}
.page-events.cover-image {
  background: url('../img/events-bg.jpg') no-repeat center top;
}
.page-music.cover-image {
  background: url('../img/music-bg.jpg') no-repeat center top;
}
.page-press.cover-image {
  background: url('../img/press-bg.jpg') no-repeat center top;
}
.page-videos.cover-image {
  background: url('../img/videos-bg.jpg') no-repeat center top;
}
/** About page
---------------------*/
img.about-title {
  width: 55%;
  padding-top: 3em;
  padding-bottom: 1em;
}
.about-text {
  padding-top: 1em;
  padding-right: 14%;
  font-size: 1em;
  color: #4c3147;
  font-weight: 400;
}
.page-about .page-content {
  padding-left: 33%;
}
/** Music Page
---------------------*/
.page-music .page-content {
  margin: 0;
  padding-top: 5%;
  padding-left: 50%;
  padding-right: 0;
}
.music-image {
  width: 167px;
  height: 167px;
}
.music-cover {
  display: inline-table;
  text-align: center;
  width: 167px;
  height: 233px;
  margin: 0;
  margin-right: 5%;
}
.music-title {
  padding-top: .5em;
  font-size: 16px;
  font-weight: bold;
}
.music-other {
  font-size: 14px;
}
/** Press Page
---------------------*/
.page-press .page-content {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 75px;
}
.page-press .page-content a {
  text-decoration: none;
}
.press-cover {
  padding-left: 33%;
  display: inline-table;
  padding-top: 25px;
}
.press-cover .press-image {
  width: 200px;
  height: auto;
  margin: 0;
  padding: 0;
}
.press-cover .press-image img {
  float: right;
}
.press-cover .press-text-container {
  text-align: left;
  padding-left: 28px;
}
.press-cover .press-text-container .press-title,
.press-cover .press-text-container a {
  padding-top: 8px;
  font-size: 18px;
  font-family: 'Arial Bold' !important;
  color: #9c2ba9;
}
.press-cover .press-text-container .press-text {
  max-width: 600px;
  font-size: 18px;
  font-family: 'Arial Regular' !important;
  color: #1b0c18;
}
/** Video Page
---------------------*/
.page-videos .page-content {
  margin: 0;
  padding-left: 0;
  padding-right: 5%;
  padding-top: 45px;
  padding-left: 50%;
}
.video-content {
  padding-top: 25px;
}
.video-frame {
  width: 100%;
}
/** Navigation
---------------------*/
.icons {
  position: relative;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -ms-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
}
.icons:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.icon-mplayer:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
header {
  top: 0;
  left: 0;
}
.footer-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.footer-container img {
  float: right;
  padding-bottom: 5px;
}
nav {
  z-index: 800;
  margin: 0;
  padding: 0;
  padding-right: 48px;
  padding-top: 48px;
  padding-top: 32px;
}
.icon-facebook {
  margin-left: 8px;
}
body {
  min-width: 400px;
}
.music-player-container {
  z-index: 999;
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-left: 48px;
}
#icon-mplayer-button-id:hover {
  cursor: pointer;
}
nav li {
  display: inline-block;
  padding-left: 10px;
}
.nav-main {
  margin: 0;
  padding: 0;
  float: right;
  height: 48px;
}
.bot-nav-group,
.top-nav-group {
  float: left;
}
.dropdown {
  margin: 0;
  position: relative;
}
.dropdown .diamond-icon {
  background: url("../img/diamond.png") no-repeat;
  background-position: 88px 0px;
  display: block;
  width: 100%;
  position: absolute;
  height: 9px;
  top: 5px;
  overflow: hidden;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  float: left;
  z-index: 1000;
  min-width: 120px;
  list-style: none;
  right: 0;
  padding-top: 12px;
  margin: 0;
}
.dropdown .dropdown-menu:hover {
  display: block;
}
.dropdown .dropdown-menu li {
  display: block;
}
.dropdown .dropdown-menu a {
  display: block;
  padding: 8px 20px;
  color: #ffffff;
  background-color: #49aeef;
  text-align: right;
  text-decoration: none;
  line-height: 1;
}
.dropdown .dropdown-menu a:hover {
  color: #e8e8e8;
}
.dropdown .dropdown-line {
  position: relative;
  display: block;
  width: 38px;
  height: 6px;
  top: 2px;
  margin-bottom: 7px;
  background: #49aeef;
}
/** PNG Icons
---------------------*/
/** SVG Icons
---------------------*/
[class^="icon-"],
[class*=" icon-"] {
  position: relative;
  top: 0px;
  display: block;
  color: #49aeef;
  fill: #49aeef;
  width: 42px;
  height: 42px;
}
.icon-youtube {
  width: 84px;
  height: 42px;
}
.icon-facebook {
  width: 42px;
  height: 42px;
}
.icon-twitter {
  width: 39px;
  height: 42px;
}
.icon-instagram {
  width: 42px;
  height: 42px;
}
.icon-mplayer {
  margin: 0;
  width: 40px;
  height: 40px;
}
/** Special css for small screens (mobile phones).
---------------------*/
#home-logo {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .page-home.cover-image {
    background: url('../img/main-bg.jpg') no-repeat center top;
  }
  #home-logo {
    display: block;
    width: 106%;
    margin-left: -3%;
  }
}
@media screen and (max-width: 620px) {
  .top-nav-group {
    float: right;
    margin: 0;
  }
  .bot-nav-group {
    float: right;
    padding-top: 10px;
  }
}
/*
@media screen and (max-width: 1195px) {

  .page-music {
    .page-content {
      padding-top: 5%;
      padding-left: 45%;
    }
  }
}

@media screen and (max-width: 1095px) {

  .page-music {
    .page-content {
      padding-top: 5%;
      padding-left: 40%;
    }
  }
}
@media screen and (max-width: 995px) {

  .page-music {
    .page-content {
      padding-top: 5%;
      padding-left: 35%;
    }
  }
}
@media screen and (max-width: 895px) {

  .page-music {
    .page-content {
      padding-top: 5%;
      padding-left: 20%;
    }
  }
}
*/
@media screen and (max-width: 716px) {
  .nav-inner-grid {
    display: block !important;
  }
  nav,
  .page-content {
    padding-right: 0px;
  }
  .music-player-container,
  .page-content {
    padding-left: 0px;
  }
  .icon-mplayer {
    padding: 20px 20px;
  }
  .logo-container {
    bottom: -10px;
  }
  /* Small About Page
  --------------------*/
  img.about-title {
    width: 95%;
    padding-top: 2em;
    padding-bottom: 0em;
  }
  .about-text {
    padding-top: 1em;
    padding-right: 3%;
    font-size: 1em;
    color: #4c3147;
    font-weight: 400;
  }
  .page-about .page-content {
    padding-left: 3%;
  }
  /* Small Video Page
  --------------------*/
  .page-videos .page-content {
    padding-top: 5%;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small Music Page
  --------------------*/
  .page-music .page-content {
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 0;
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .music-cover {
    display: inline-table;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: .5em;
    margin-left: auto;
    margin-right: auto;
  }
  /*
  .page-music {
    .page-content {
      margin: 0;
      padding-top: 5%;
      padding-left: 3%;
      padding-right: 3%;
    }
  }

  .music-cover {
    display: inline-table;
    text-align: center;
    padding-right: 5%;
    padding-top: .5em;

    img {
    }
  }

  .music-title {
    padding-top: .5em;
    font-size: .75em;
    font-weight: bold;

  }

  .music-other {
    font-size: 0.5em;
  }
  */
  /* Small Press Page
  --------------------*/
  .press-cover {
    padding-left: 0%;
  }
  .press-cover .press-image {
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .press-cover .press-image img {
    float: right;
    width: 100%;
  }
  .press-cover .press-text-container {
    text-align: left;
    padding-left: 5px;
  }
  .press-cover .press-text-container .press-title {
    padding-top: 8px;
    font-size: 18px;
  }
  .press-cover .press-text-container .press-text {
    max-width: 600px;
    font-size: 18px;
  }
}
