/** Less mixins
---------------------*/
/** Less
---------------------*/
/** Fonts
---------------------*/
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.ttf');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.ttf');
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.ttf');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.ttf');
}
@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/Gotham-Thin.ttf');
}
@font-face {
  font-family: 'Gotham-XLight';
  src: url('../fonts/Gotham-XLight.ttf');
}
@font-face {
  font-family: 'Arial Regular';
  src: url('../fonts/arial-webfont.tff');
}
@font-face {
  font-family: 'Arial Bold';
  src: url('../fonts/arialbd-webfont.ttf');
}
@font-face {
  font-family: 'Oswald Regular';
  src: url('../fonts/Oswald-Regular.otf');
}
@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/Oswald-Bold.otf');
}
@font-face {
  font-family: 'DroidSans';
  src: url('../fonts/DroidSans.ttf');
}
/** Custom
---------------------*/
body {
  height: 0px;
  width: 100%;
  min-height: 415px;
}
html,
body {
  margin: 0;
  min-height: 415px;
  min-width: 630px;
  font-family: 'Arial Regular';
}
div#preload {
  display: none;
}
a {
  text-decoration: none;
}
/** Mplayer, music player
---------------------*/
#sc-widget {
  display: none;
}
.music-player p {
  display: block;
}
.mplayer-text-intro {
  padding-top: 10px;
}
.mplayer-text {
  font-family: 'Gotham-Book';
  font-size: 1.1em;
  color: #48494a;
}
.mplayer-title {
  font-family: 'Gotham-Book';
  font-size: 54px;
  color: #ffffff;
  text-shadow: 0px 0px 25px rgba(166, 198, 238, 0.75), 0px 0px 25px rgba(166, 198, 238, 0.75);
}
.mplayer-acknowledgment {
  line-height: 100%;
  font-family: 'Gotham-Light';
  font-size: 1.6em;
  color: #ffffff;
  text-shadow: 0px 0px 25px rgba(166, 198, 238, 0.75), 0px 0px 25px rgba(166, 198, 238, 0.75);
}
/** Pages
---------------------*/
.page-content {
  padding-left: 48px;
  padding-right: 48px;
}
.logo-container {
  position: fixed;
  bottom: 10px;
  width: 100%;
}
.cover-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  margin: 0;
  padding: 0;
}
.page-home.cover-image {
  background: url('../img/main-bg-titled.jpg') no-repeat center top;
}
.page-about.cover-image {
  background: url('../img/about-bg.jpg') no-repeat center top;
}
.page-events.cover-image {
  background: url('../img/events-bg.jpg') no-repeat center top;
}
.page-music.cover-image {
  background: url('../img/music-bg.jpg') no-repeat center top;
}
.page-press.cover-image {
  background: url('../img/press-bg.jpg') no-repeat center top;
}
.page-videos.cover-image {
  background: url('../img/videos-bg.jpg') no-repeat center top;
}
/** Home page
---------------------*/
.page-home .page-content {
  padding-top: 95px;
  width: 600px;
}
/** About page
---------------------*/
img.about-title {
  width: 465px;
  padding-top: 3em;
  padding-bottom: 40px;
}
.about-text {
  padding-bottom: 1em;
  line-height: 180%;
  font-size: 18px;
  color: #4c3147;
  font-family: 'DroidSans' !important;
  width: 800px;
}
.page-about .page-content {
  padding-left: 33%;
}
/** Music Page
---------------------*/
.page-music .page-content {
  width: 600px;
  margin: 0;
  padding-top: 5%;
  padding-left: 50%;
  padding-right: 0;
}
.music-image {
  width: 167px;
  height: 167px;
}
.music-cover {
  display: inline-table;
  text-align: center;
  width: 167px;
  height: 233px;
  margin: 0;
  margin-right: 5%;
}
.music-title {
  padding-top: 5px;
  font-size: 18px;
  letter-spacing: 1px;
  letter-spacing: 0px;
  font-family: 'Oswald Regular';
}
.music-other {
  font-family: 'DroidSans';
  font-size: 16px;
}
/** Press Page
---------------------*/
.page-press .page-content {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 75px;
}
.page-press .page-content a {
  text-decoration: none;
}
.press-cover {
  padding-left: 33%;
  display: inline-table;
  padding-top: 15px;
}
.press-cover .press-image {
  width: 200px;
  height: auto;
  margin: 0;
  padding: 0;
}
.press-cover .press-image img {
  float: right;
}
.press-cover .press-text-container {
  text-align: left;
  padding-left: 20px;
}
.press-cover .press-text-container .press-title,
.press-cover .press-text-container a {
  font-size: 18px;
  font-family: 'Oswald Regular' !important;
  color: #9c2ba9;
  font-weight: bold;
}
.press-cover .press-text-container .press-text {
  width: 550px;
  font-size: 18px;
  font-family: 'DroidSans' !important;
  color: #1b0c18;
}
/** Video Page
---------------------*/
.page-videos .page-content {
  margin: 0;
  padding-left: 0;
  padding-right: 5%;
  padding-top: 45px;
  padding-left: 50%;
}
.video-content {
  padding-top: 25px;
  width: 576px;
}
.video-frame {
  width: 100%;
}
/** Navigation
---------------------*/
.icons {
  position: relative;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -ms-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
}
.icons:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.icon-mplayer:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
header {
  top: 0;
  left: 0;
}
.footer-container {
  position: fixed;
  bottom: 30px;
  right: 20px;
  color: white;
}
.footer-container img {
  float: right;
  padding-bottom: 5px;
}
.footer-container .black-color {
  color: black;
}
.icon-facebook {
  margin-left: 8px;
}
body {
  min-width: 400px;
}
.music-player-container {
  display: inline-block;
  z-index: 999;
  float: left;
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-left: 48px;
}
.music-player-information-container .title {
  font-family: 'Gotham-Medium';
  font-size: 18px;
  padding-top: 37px;
  padding-left: 101px;
}
.music-player-information-container .song {
  font-family: 'Gotham-Light';
  font-size: 15px;
  margin: 0;
  padding: 0;
  padding-top: 0px;
  padding-left: 109px;
}
#icon-mplayer-button-id:hover {
  cursor: pointer;
}
nav li {
  display: inline-block;
  padding-left: 10px;
}
nav {
  position: fixed;
  top: 0px;
  right: 0px;
  display: inline-block;
  float: right;
  z-index: 800;
  margin: 0;
  padding: 0;
  padding-right: 48px;
  padding-top: 32px;
}
.bot-nav-group,
.top-nav-group {
  float: left;
}
.dropdown {
  margin: 0;
  position: relative;
}
.dropdown .diamond-icon {
  background: url("../img/diamond.png") no-repeat;
  background-position: 92px 0px;
  display: block;
  width: 100%;
  position: absolute;
  height: 9px;
  top: 5px;
  overflow: hidden;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  float: left;
  z-index: 1000;
  min-width: 120px;
  list-style: none;
  right: 0;
  padding-top: 12px;
  margin: 0;
  font-family: 'DroidSans';
}
.dropdown .dropdown-menu:hover {
  display: block;
}
.dropdown .dropdown-menu li {
  display: block;
}
.dropdown .dropdown-menu a {
  display: block;
  padding: 8px 20px;
  color: #ffffff;
  background-color: #49aeef;
  text-align: right;
  text-decoration: none;
  line-height: 1;
}
.dropdown .dropdown-menu a:hover {
  color: #e8e8e8;
}
.dropdown .dropdown-line {
  position: relative;
  display: block;
  width: 38px;
  height: 6px;
  top: 2px;
  margin-bottom: 7px;
  background: #49aeef;
}
/** PNG Icons
---------------------*/
/** SVG Icons
---------------------*/
[class^="icon-"],
[class*=" icon-"] {
  position: relative;
  top: 0px;
  display: block;
  color: #49aeef;
  fill: #49aeef;
  width: 42px;
  height: 42px;
}
.icon-youtube {
  width: 84px;
  height: 42px;
}
.icon-facebook {
  width: 42px;
  height: 42px;
}
.icon-twitter {
  width: 39px;
  height: 42px;
}
.icon-instagram {
  width: 42px;
  height: 42px;
}
.icon-mplayer {
  margin: 0;
  width: 40px;
  height: 40px;
}
/** Footer
-----------------*/
.copyright-container {
  font-family: 'DroidSans';
}
/** Special css for small screens (mobile phones).
---------------------*/
#home-logo {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  position: relative;
}
/*
@media screen and (max-height: 415px) {
  #home-logo {
    position: fixed;
    display: block;
    width: 106%;
    margin-left: -3%;
    top: 305px;
  }
}
*/
/*
@media screen and (max-width: 1000px) {
  .page-home.cover-image {
    background: url('../img/main-bg.jpg') no-repeat center top;
  }
  #home-logo {
    display: block;
    width: 106%;
    margin-left: -3%;
  }
}
*/
@media screen and (max-width: 1400px) {
  footer {
    display: none;
  }
  .footer-container {
    left: 10px;
    bottom: 20px;
  }
  .footer-container img {
    float: left;
  }
}
@media screen and (max-width: 716px) {
  footer {
    display: none;
  }
  .top-nav-group {
    float: right;
    margin: 0;
  }
  .bot-nav-group {
    float: right;
    padding-top: 10px;
  }
  nav,
  .page-content {
    padding-right: 0px;
  }
}
/** DISABLE Small screen responsive layout 
   -> compensate with large viewport

/*
//44.750em
@media screen and (max-width: 716px) {
  // only concatenate navbar to 2 colums on small screens
  .nav-inner-grid {
    display: block !important;
  }

  nav, .page-content {
    // don't pad on small screens
    padding-right: 0px;
  }

  .music-player-container, .page-content {
    padding-left: 0px;
  }

  // center icon on small screens (looks better)
  .icon-mplayer {
    padding: 20px 20px;
  }

  .logo-container {
    bottom: -10px;
  }

 // Small About Page
  img.about-title {
    width: 95%;
    padding-top: 2em;
    padding-bottom: 0em;
  }

  .about-text {
    //padding-left: 2%; glow fix
    padding-top: 16px; // new paragraph
    padding-right: 3%;
    font-size: 16px;
    color: @about_text_color;
    font-family: @about_text_font_family !important;
  }

  .page-about {
    .page-content {
      padding-left: 3%;
    }
  }

  // Small Video Page
  .page-videos {
    .page-content {
      padding-top: 5%;
      padding-left: 0%;
      padding-right: 0%;
      width: 100%;
      margin: 0;

      margin-left: auto;
      margin-right: auto;
    }
  }

  // Small Music Page
  .page-music {
    .page-content {
      padding-top: 5%;
      padding-left: 3%;
      padding-right: 0;
      width: 100%;
      margin: 0;

      margin-left: auto;
      margin-right: auto;
    }
  }

  .music-cover {
    display: inline-table;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: .5em;

    margin-left: auto;
    margin-right: auto;

    img {
    }
  }

  // Small Press Page
  .press-cover {
    padding-left: 0%;

    .press-image {
      width: 100px;
      height: auto;
      margin: 0;
      padding: 0;

      img {
        float: right;
        width: 100%;
      }
    }

    .press-text-container {
      text-align: left;
      padding-left: 5px;

      .press-title {
        padding-top: 8px;
        font-size: @press_title_size_sm;
      }

      .press-text {
        max-width: 600px;
        font-size: @press_text_size_sm;
      }
    }
  }


} // small screen


*/
